In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/Flight Bookings.csv')

In [3]:
df.head()

,airlie_id,flght#,departure_dt,arrival_dt,dep_time,arrivl_time,booking_cd,passngr_nm,seat_no,class,...,pilot,cabin_crew,inflight_ent,meal_option,wifi,window_seat,aisle_seat,emergency_exit_row,number_of_stops,reward_program_member
0,6,2637,2023-06-26 00:11:20,2023-10-30 21:30:16,13:48:45,21:01:47,BQLF,Name_BANUL,SeatTWV,Economy,...,Pilot_EYZH,Crew_DGAL,Yes,Non-Vegetarian,Not Available,True,True,False,2,Yes
1,5,6966,2023-04-27 21:36:15,2023-10-27 13:13:48,14:05:17,09:12:24,BZIL,Name_KANHR,SeatIGS,Economy,...,Pilot_OKTY,Crew_VNDX,No,Vegetarian,Not Available,False,False,False,2,No
2,12,5670,2023-03-31 15:08:52,2023-12-30 10:58:37,12:47:06,22:28:40,BQPB,Name_ECVFX,SeatJUH,Economy,...,Pilot_UQZR,Crew_PKJB,No,Vegan,Available,False,False,True,0,No
3,1,6203,2023-08-04 16:59:58,2023-03-01 18:34:01,02:46:37,10:53:22,BRPJ,Name_UEUYB,SeatUUC,Economy,...,Pilot_OLHE,Crew_AHUN,No,Vegetarian,Not Available,False,True,False,0,Yes
4,8,6134,2023-03-07 01:08:36,2023-03-30 04:51:17,13:46:28,07:10:26,BSDG,Name_CDWZA,SeatLTY,Business,...,Pilot_DJHP,Crew_DZUM,Yes,Non-Vegetarian,Not Available,True,True,False,2,Yes

In [5]:
df['airlie_id'].value_counts()

airlie_id
16    593
13    579
17    552
15    549
18    548
7     543
10    542
12    540
19    523
4     517
6     514
14    513
8     508
2     504
5     502
1     500
9     500
3     497
11    476
Name: count, dtype: int64